.main
  .main_top
    .main_top_title
      .main_top_title_upper
        あ
      .main_top_title_under
        member
    .main_top_btn
      Edit
  .main_center
    .main_center_thread
      .main_center_thread_name
        = render @messages
  .main_bottom
    = form_for [@group, @message] do |f|
      .main_bottom_textbox
        = f.text_field :content, class: 'form__message', placeholder: 'type a message' do
          .main_bottom_textbox_img
            = f.label :image, class: 'form__mask__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'hidden'
      .main_bottom_send
        = f.submit 'Send', class: 'form__submit'